.container-error {
    display: block;
    margin: auto;
    text-align: center;
    background-color: rgb(144, 4, 4);
    color: white;
    padding: 10px;
    border: 1px dotted rgb(249, 95, 95);
    border-radius: 10px;
}