<div style="margin:10px 0 10px 0;" data-controller="search" data-search-coins-outlet=".table">
  <input class="form-control" placeholder="Type to search..." data-search-target="queryInput" data-action="search#findCoins">
</div>
