<table class="table table-striped table-hover table-bordered" data-controller="coins">
  <thead class="table-dark">
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Supply</th>
      <th scope="col">Market Cap</th>
      <th scope="col">Volume 24 hours</th>
      <th scope="col">Price</th>
      <th scope="col">Change Percent 24 hours</th>
    </tr>
  </thead>
  <tbody data-coins-target="bodyTable"></tbody>
</table>
